
.message {
  
  align-items: normal;
  box-sizing: border-box;
  height: min-content;
  border-radius: 1em;
  margin-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5px;
}
.message h2 {
  color: lightgrey;
  padding-left: 2vw;
}
.message p {
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: large;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-bottom: 5vh;
}

.NavBar {
  display: flex;
  background: lightslategray;
}
.NavBar img p button{
  flex: 1;
  margin-top: 50vw;
}
.NavBar img {
 color: lightgrey;
 width: 30px;
 height: 30px;
 margin-top: 1vh;
 margin-left: 80vw;
 margin-right: 1vw;
}

.NavBar p {
  margin-top: 1.5vh;
}
.message_header {
  display: flex;
  height: 5vh;
  background-color: lightgrey;
  border-radius: 0.5em;
}
.message_header img p {
  flex: 1;

}

.message_header img {
  width: 4vh;
  height: 4vh;
  margin-top: 0.5vh;
  padding-left: 1vw;
}
.message_header p {
  margin-top: 0.5vh;
  padding-bottom: 10vh;
  font-size: 2.5vh;
  margin-bottom: 1vh;
}