
.message {
  align-items: normal;
  box-sizing: border-box;
  background: rgb(114, 241, 250);
  height: 15vh;
  border-radius: 1em;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5px;
  margin-top: 5px;
}
.message h2 {
  color: lightgrey;
  padding-left: 2vw;
}
.message h5 {
  text-align: center;
  margin: 0;
}

.NavBar {
  display: flex;
  background: lightslategray;
}
.NavBar img p button{
  flex: 1;
  margin-top: 50vw;
}
.NavBar img {
 color: lightgrey;
 width: 30px;
 height: 30px;
 margin-top: 1vh;
 margin-left: 80vw;
 margin-right: 1vw;
}

.NavBar p {
  margin-top: 1.5vh;
}
.message_header {
  display: flex;

}
.message_header img p {
  flex: 1;
}
.message_header img {
  width: 30px;
  height: 30px;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 0px;
}
